/**
* app.css - stylesheet fuer "videos.html"
* @author Florian Kruellke
*/
body{
	padding: 0;
	margin: 0 auto;
	font-family: "Trebuchet MS", "Helvetica", "Arial", "sans-serif";
	width: 100%;
	height: 100%;
}

h1{
	padding: 0 0 0 0.4rem;
}

ul{
	margin: 0;
	padding: 0 0 0 0.5rem;
	list-style: none;
}

video{
	width: 18rem;
    margin: 0.9rem 1rem;/*
	position: absolute;*/
}

footer{
	padding: 0.3rem;
	clear: both;
	margin: 0 auto;
	text-align: center;
}

#main{
	margin-left: 5rem;
}

#sidebar{
	position: absolute;
	float:left; 
	top: 5rem;
	bottom: 0rem;
	padding-right: 1rem;
}

#videoliste{
	margin: 0 0;
	padding: 0 0;
}

#videoliste .video-item{
    margin: 0.2rem 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.5);
	float: left;
	width: 20rem;
	height: 16rem;
	display: block;
	padding: 0.2rem 0.2rem;
}

.stop-square{
    background-color: rgba(0,0,0,0.8);
    width: 1rem;
    height: 1rem;
    margin: 0.35rem auto;
}

.play-triangle{
	border-color: transparent transparent transparent rgba(0,0,0,0.8);
    border-width: 0.7rem 0.9rem;
    border-style: solid;
    margin-left: 0.5rem;
    margin-top: 0.17rem;
}

.pause-blocks{    
	width: 0.2rem;
    height: 1.1rem;
    background-color: white;
    border-left: 0.33rem solid rgba(0,0,0,0.8);
    border-right: 0.33rem solid rgba(0,0,0,0.8);
    margin: 0.3rem auto;
}

.btn{
	cursor: pointer;
	background-color: white; 
	z-index: 10;
    float: left;/*
    margin-top: 13rem;*/
    position: relative;
    padding: 0;
	width: 1.8rem;
	height: 1.8rem;
	border-color: rgba(0,0,0,0.8);
	border-style: double;
	transform:	scale(0.8);
	-ms-transform:	scale(0.8);
	-webkit-transform:	scale(0.8);
	-o-transform:	scale(0.8);
}

.open{
	padding: 0.05rem 0.05rem;
	margin-right: 0.7rem;
	width: 4rem;
	height: 2rem;
	float:right;
}

.play{
	margin-left: 0.8rem;
}

@media screen and (max-width: 420px) {

	#sidebar{
		position: relative;
		width: 100%;
		margin-bottom: 2rem;
		top: 0rem;
	}

	#videoliste .video-item{
		margin: 0.1rem 0;
	}

	#main{
		margin-left: 0rem;
	}

}